@font-face {
	font-family: 'Living Hell';
	src: url(../../assets/fonts/LivingHell.woff2) format('woff2'),
	url(../../assets/fonts/LivingHell.woff) format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}