html {
  scroll-behavior: smooth;
}

* {
  transition: all .2s linear;
}

body::-webkit-scrollbar {
  display: none;
}

@media (min-width: 300px) {
  .title h1 {
    font-size: 7em !important;
  }
}

@media (min-width: 576px) {
  .title h1 {
    font-size: 8em !important;
  }
}

@media (min-width: 300px) {
  .dottedNavbar {
    display: none;
  }
}

@media (min-width: 576px) {
  .dottedNavbar {
    display: flex;
  }
}

#Join:hover ~ #cursor {
  display: flex;
}

#cursor {
  position: absolute;
  width: 100px;
  height: 100px;
  /*border: 2px solid #fff;*/
  box-sizing: border-box;
  transition: .1s;
  transform: translate(-50%,-50%);
  border-radius: 50%;
  pointer-events: none;
  display: none;
}

